/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Sidans färgpalett
$color1: rgba(32, 80, 86, 1);
$color2: rgba(97, 122, 122, 1);
$color3: rgba(166, 111, 73, 1);
$color4: rgba(73, 35, 22, 1);
$color5: rgba(124, 24, 24, 1); */

body {
    background: rgb(146, 133, 133);
}
.kontainer {
    width: 900px;
    margin: 0 auto;
    padding: 50px;
    
}
.kontainer .sida1{
    background: rgb(196, 152, 152);
    padding: 60px;
}
.kontainer .sida2{
    background: rgb(194, 73, 73);
    padding: 60px;
}
.kontainer .sida3{
    background: rgb(84, 125, 133);
    padding: 60px;
}
.kontainer .sida4{
    background: rgb(146, 157, 179);
    padding: 60px;
}
.kontainer .sida5{
    background: rgb(255, 163, 57);
    padding: 60px;
}

.kontainer h1 {
    font: 60px, sans-serif;
    text-align: center;
}
.kontainer .meny{
text-align: center;
margin: 10px 0 30px;
}
.kontainer .meny li {
    list-style-type: none;
    display: inline;
}
.kontainer h2 {}
img {
    width: 100%;
}
p {}
a {}