/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{

}
.kontainer{
  color: aquamarine;
}
.kontainer .rutnät{
   display: grid; 
   grid-template-rows: ;
   text-align: center;
}
.kontainer .left{

background: #000;
}

.kontainer .right{

background: rgb(153, 108, 108);
}
