/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Allting är från början kodad som för en mobile device, med media gör jag mindre ändringar för desktop devices */
.sidan {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEFDFF;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Header */
header {
    width: 100%;
    height: 10%;
    display: flex;
    padding-right: 30px;
    box-sizing: border-box;
}
header button {
    color: #503D42;
    font-size: 30px;
    margin-left: auto;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    /* elementet sitter kvar på samma plats */
    z-index: 1;
    /* elementet sitter överst */
    left: 0;
    top: 0;
    background-color: rgba(26, 24, 24, 0.952);
    overflow-y: auto;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(107, 107, 107);
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: rgb(189, 189, 189);
}

.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 50px;
}

/* Mitten innehåll (main) av sidan */

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

main .content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

main .content .main-title {
    max-width: 350px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #503D42;

}
main .content .wrapperbtn {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .content .title {
    color: #503D42;
    font-size: 35px;
    width: 100%;
    text-align: center;
}
main .content .wrapperbtn button {
    background: #503D42;
    padding: 10px;
    margin-top: 8px;
    width: 100%;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
main .content .wrapperbtn button:hover {
    background-color: rgb(116, 91, 98);
}

/* Innehållet som finns längst ner (footer) */

.sidan footer {
    width: 100%;
    background: #503D42;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    margin-top: auto;
}

@media (min-width:1100px) {
    /* Header */
    .overlay {
        overflow-y: hidden;
    }
    .overlay a {
        font-size: 40px;
    }
    .overlay .closebtn {
        font-size: 70px;
        top: 20px;
        right: 45px;
    }
    main .content {
        flex-direction: row;
    }
    main .content .main-title {
        font-size: 40px;
        max-width: none;
    }
    main .content .wrapperbtn {
        max-width: none;
    }
    main .content .wrapperbtn button {
        font-size: 30px;
        max-width: 500px;
    }
}

/* För sida2 */
.sidan main .content-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidan main .content-row img {
    min-width: 150px;
    width: 10%;
    border-radius: 10px;
    padding: 10px;
}
main .content-row .st {
    background: rgb(103, 132, 158);
    width: 70%;
    height: 215px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 10px;
}
main .content-row .nd {
    width: 70%;
    height: 215px;
    background: rgb(175, 208, 236);
    display: flex;
    flex-direction: row;
    text-align: right;
    padding-top: 10px;
}

/* Sidan för formuläret */
.content-row .topbox {
    min-height: 395px;
    height: auto;
    height: 395px;
    width: 100%;
    background-color: rgb(43, 38, 38);
}
.content-row .topbox img {
    width: 100%;
    height: auto;
}
.content-row .topbox .imgtext {
    color: white;
    font-size: 30px;
    padding: 20px;
}
.content-row .bottombox {
    height: 100%;
    width: 80%;
    background-color: rgb(76, 68, 68);
}

/* Animation */
.animate__fadeIn {
    animation-delay: 0.5s;
}
.animate__fadeInDown {
    animation-delay: 1.5s;
}