/* Enkel CSS-reset */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Asap&display=swap');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Utseendet p책 sidan */
body{
background: rgb(38, 37, 63);
}
.sidan{
    font-family: 'Asap', sans-serif;
    width: 700px;
    background: rgb(51, 51, 75);
    padding: 50px;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(119, 132, 167, 0.466);
}
h1{
    font-family: 'Abril Fatface', cursive;
    margin-left: 150px;
    font-size: 50px;
}

/* Utseendet p책 inl채ggen */
.inlagg{
    background: rgb(77, 76, 99);
    padding: 50px;
    margin: 15px 0 15px 0;
}
.bild{
width: 100%;
padding: 20px;
background: white;
}
h2{
    font-family: 'Abril Fatface', cursive;
    margin-top: 20px;
}
.datum{
color: rgb(97, 39, 0);
}
p{
font-size: 20px;
margin: 20px 0;
}
/* Utseendet p책 sidfot */
.sidfot{

}
.namn{
font-style: italic;
}