@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
body {
background-image: url(./bilder/tripping-bg2.jpg);
background-size: 900px;
border: dashed 10px rgb(59, 67, 75);
}
.container {
  width: 700px;
  text-align: center;
  background: rgb(59, 67, 75);
  margin: 3em auto;
  border-radius: 3px;
  border: dashed 10px ;
  padding-bottom: 30px;
  
  justify-content: space-between;
  
}
.container h1 {
    font-family: 'Lacquer', sans-serif;
    width: 500px;
    margin-left: 100px;
}
.container h2 {
    font-family: 'Lacquer', sans-serif;
    color: tomato;
}

.ouf {
  width: 500px;
  border-radius: 7px;
border: dashed black 7px;
}
.container label, .container p {
font-size: 20px;
color: rgb(146, 146, 146);
}

.scroll {
  width: 80px;
  animation: action 1s infinite  alternate;
  
}

@keyframes action {
  from { transform: translateY(0px); }
  to { transform: translateY(20px); }
}


